name: Test PHP Versions

on:
  push:
    paths-ignore:
      - ".github/**"
  pull_request:
    paths-ignore:
      - ".github/**"

permissions:
  contents: read

jobs:
  PHP8-1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up PHP 8.1
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"
      - name: Check PHP compatibility by running code
        run: find . -name "*.php" -exec php -l {} \;

  PHP8-2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up PHP 8.2
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
      - name: Check PHP compatibility by running code
        run: find . -name "*.php" -exec php -l {} \;

  PHP8-3:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up PHP 8.3
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
      - name: Check PHP compatibility by running code
        run: find . -name "*.php" -exec php -l {} \;

  PHP8-4:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up PHP 8.4
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
      - name: Check PHP compatibility by running code
        run: find . -name "*.php" -exec php -l {} \;
